.gradle/
.idea/
.vscode/
*.iml
*.ipr
*.iws
out/
build/
run/
run-data/
runs/
logs/
crash-reports/
saves/
*.log
*.log.gz
hs_err_pid*
usercache.json
options.txt
.DS_Store
src/generated/resources/.cache/
